/* Reset de estilos para garantir consistência em diferentes navegadores */
body, h1, h2, p, ul, ol, li, table, th, td {
    margin: 0;
    padding: 0;
}

/* Define uma fonte padrão para a página */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/* Estiliza o cabeçalho */
header {
    background-color: #007bff;
    color: white;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

header h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

header p {
    font-size: 18px;
    font-style: italic;
}

/* Estiliza a imagem do herói */
img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    border: 5px solid white;
}

/* Estiliza a navegação */
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 10px 0;
}

nav li {
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #ffcc00;
}

/* Estiliza as seções */
section {
    margin: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Estiliza os títulos das seções */
h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

/* Estiliza a tabela de educação */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

/* Estiliza o link de contato */
#contato a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

#contato a:hover {
    color: #ffcc00;
}

/* Estiliza os cards de curiosidades */
#curiosidades ol {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

#curiosidades li {
    width: calc(33.33% - 10px);
    margin-bottom: 10px;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
    }
    
