body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
header {
  background-color: #419CA6;
  color: #fff;
  padding: 20px;
  text-align: justify;
  position: relative;
  width: 100%;
}


nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
}
#hero {
  text-align: center;
  padding: 20px;
}

#hero img {
  max-width: 100%;
  height: auto;
}
.card {
  display: inline-flex;
  background-color: #51868C;
  border: 2px solid #818C8C;
  border-radius: 15px;
  margin: 10px;
  padding: 5px;
  text-align: center;
  
}

.card img {
  max-width: 80%;
  height: 80%;
}
footer {
  background-color: #419CA6;
  color: #fff;
  text-align: center;
  padding: 40px;
}

h2 {
  border-radius: 15px;
  background-color: #818C8C;
  color: #fff;
  font-weight: bold;
  padding: 20px;
  text-align: left;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th {
  border-radius: 15px;
  background-color: #818C8C;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #E0E0E0;
}

tr:nth-child(odd) {
  background-color: #F2F2F2;
}

td {
  border-radius: 15px;
  padding: 8px;
  text-align: left;
}
tr:hover {
  border-radius: 15px;
  background-color: #CCC;
}
.Ajuste{
  border-radius: 50%;
  width: 5%;
}

#skills ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#skills li {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.4;
}

#skills li::before {
  content: "\2022";
  margin-right: 8px;
  font-size: 16px;
  font-weight: bold;
}

#skills li:hover {
  background-color: #F2F2F2;
}

.imagem {
  filter: contrast(90%) brightness(100%) saturate(80%);
  transition: filter 0.3s ease;
}

.imagem:hover {
  filter: none;
}

.curiosidade{
  display: flex;
  justify-content: center;
  border-radius: 15px;
  width: 1400px;
  height: 200px;
}

.c{
  display:flex;
  flex-direction: column;
}